* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 2%;
}

a {
  color: black;
}

/* All header certificat header */
.logo_content {
  width: 500px;
  height: 150px;
  margin: 0 auto;
  background-image: url(../../../templates/asset/photo/LogoHEI.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.certificat_title {
  position: relative;
  height: auto;
}

.certificat_title h1 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

h3 {
  font-weight: 500;
  font-size: 1.8rem;
  margin: 20px 0;
  margin-top: 40px;
}
/* Personal information */
.personal_information {
  margin: 2% 0;
  padding: 1% 2%;
}

.personal_information ul {
  list-style: none;
}
/* Signature section */
.signature_content {
  width: auto;
  margin: 5% 0;
  margin-left: 40%;
}

.signature_img {
  display: block;
  width: 150px;
  height: 150px;
  background-image: url(../../../templates/asset/photo/signature.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* Certificat footer */
footer {
  width: auto;
  border-top: 1px solid black;
  position: absolute;
  bottom: 10px;
  padding-top: 1vh;
}

footer p:first-child {
  color: #dfa408;
}
