name: Health check poja
# Fails if poja is not latest or generation is not idempotent

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4.1.6

      - uses: actions/setup-java@v4.2.1
        with:
          java-version: '21'
          distribution: 'corretto'

      - run: chmod +x gradlew

      - uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4.0.2
        with:
          aws-access-key-id: ${{ secrets.POJA_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.POJA_AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-3

      - name: Connect to Private Codeartifact
        run: |
          aws codeartifact login --tool pip --repository numer-python-store --domain python-numer-tech --domain-owner 088312068315 --region eu-west-3

      - run: pip install poja --upgrade
      - run: python -m poja --poja-conf poja.yml --output-dir=. --github-username=${{ secrets.POJA_GH_USERNAME }} --github-token=${{ secrets.POJA_GH_TOKEN }}
      - run: git diff --exit-code
